<!-- Highlights matching words -->
<link rel="stylesheet" type="text/css">
  .creative-macro {
    border: 2px solid red;
  }
</link>

<!-- types represent the different available formats that can be selected -->
<div class="form-group">
  <label class="col-sm-2 control-label" for="type">Type of key
    <span ng-bind-html="name_popover"></span>
  </label>
  <div class="col-sm-10">
    <select chosen data-placeholder="" disable-search="true" ng-model="key.type" ng-options="value for (key, value) in types" class="input-large" id="type" ng-init="key.type = types[first_key]" ng-change="change_type(key.type)" style="width:315px;">
      <option value=""></option>
    </select>
  </div>
</div>

<!-- keys available to be seen are dynamically loaded based on the type of format selected -->
<div ng-show="require_key_ad_unit(type)">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="keys">Add New Keys
      <span ng-bind-html="name_popover"></span>
    </label>
    <div class="col-sm-10">
      <div ng-repeat="result in key_results" class="dupe-container row" style="margin-left:0px; margin-bottom:5px;" ng-show="key_results.length > 0">
        <div class="col-lg-4" style="padding:0px;">
          <!-- utilize ng-disabled to disable selected options in lower selects -->
          <!-- row two way binded to array key_results -->
          <select
            chosen
            data-placeholder=""
            ng-model="result.key"
            ng-options="value for (key, value) in helpers.keys()[format]"
            class="input-large chosen-select"
            id="keys"
            ng-change="determine_output_results(result.key, result.row)"
            style="width:330px;"
          >
              <option value=""></option>
          </select>
        </div>
        <div class="col-lg-6">

          <!-- pre-generate the formatted value based on key selected for video -->
          <textarea class="key_value form-control disabled" ng-click="helpers.focus_key($event)" style="height:34px; overflow:hidden;" ng-show="format =='video'">__TEMPLATE[{{result.key}}]__</textarea>

          <!-- pre-generate the formatted value based on key selected for display -->
          <textarea class="key_value form-control disabled" ng-click="helpers.focus_key($event)" style="height:34px; overflow:hidden;" ng-show="format =='display'">[{{result.key}}]</textarea>
        </div>
        <div class="col-lg-2">
          <span>
            <a class="dupe-control-group" ng-click="add_new_key()">
              <i class="icon-plus-sign"></i>
            </a>
            <a class="remove-control-group" ng-click="remove_key(result.key, result.row)">
              <i class="icon-minus-sign"></i>
            </a>
          </span>
        </div>
      </div>

      <div ng-show="key_results.length == 0">
        <a class="btn btn-default" ng-click="add_new_key()">Add</a>
      </div>
    </div>
  </div>

  <!-- this is the textarea where users can modify the input -->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="keys">Base
      <span ng-bind-html="name_popover"></span>
    </label>
    <div class="col-sm-10">
      <div class="col-sm-12 col-md-10" style="padding-left:0px;">
        <textarea id="key_base" ng-model="base" class="form-control" style="height:156px;" ng-change="update_keys(base)" />
      </div>
    </div>
  </div>

  <!-- this area tracks the users' changes and highlights any matching keys -->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="keys">Location of keys
      <span ng-bind-html="name_popover"></span>
    </label>
    <div class="col-sm-10">
      <div class="col-sm-12 col-md-10" style="padding-left:0px;">
        <label id="keys" class="form-control" style="height:156px; overflow-y:auto; word-wrap:break-word;">
          <span ng-bind-html="keys"></span>
        <label>
      </div>
    </div>
  </div>

</div>